<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">

  <title>Deep Q</title>

  <!-- CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/animate.min.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/form.css" rel="stylesheet">
  <link href="assets/css/calendar.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/icons.css" rel="stylesheet">
  <link href="assets/css/generics.css" rel="stylesheet">
  <link href="assets/css/overrides.css" rel="stylesheet">
</head>
<body id="skin-blur-kiwi">
  <header id="header" class="media">
    <a class="logo pull-left" href="index.html">DEEP Q v0.1.0</a>
  </header>
  <div class="clearfix"></div>

  <section id="main" class="p-relative" role="main" ng-app="DeepQ" ng-controller="AppCtrl" ng-cloak>

    <!-- Sidebar -->
    <aside id="sidebar">
      <ul class="list-unstyled side-menu">
        <li class="active">
          <a class="sa-side-home" ng-click="changeSection('agent')">
            <span class="menu-item">Agents</span>
          </a>
        </li>
        <li>
          <a class="sa-side-typography" ng-click="changeSection('user')">
            <span class="menu-item">Users</span>
          </a>
        </li>
      </ul>
    </aside>

    <section id="agent-section" class="section-container" ng-class="{active: activeSection == 'agent'}">
      <div id="agent-slider" ng-class="{ 'slider-edit': section.agent.mode == 'edit' }">
        <div class="section-list" ng-include="'app/views/agent-list.html'"></div>
        <div class="section-edit" ng-include="'app/views/agent-edit.html'"></div>
      </div>
    </section>

    <section id="user-section" class="section-container" ng-class="{active: activeSection == 'user'}">
      <div ng-include="'app/views/user-list.html'"></div>
    </section>

  </section>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>

  <script src="app/app.js"></script>
  <script src="app/controllers/app.js"></script>
  <script src="app/controllers/agent-list.js"></script>
  <script src="app/controllers/agent-edit.js"></script>
  <script src="app/controllers/user-list.js"></script>

</body>
</html>
